<body>
<div class="container">
  <!--navigation rows-->
  <!--row 1 -->
  <div class="row">
    <div class="span12">
      <h3 class="text-center">QNA</h3>
    </div>
  </div>

  <!--row 2-->
  <div class="row">
    <div class="span12">
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a href="q_list"><%= '首页' %></a></li>
          <li><a href="ask_q"><%= '我要提问' %></a></li>
          <li style="height: 40px; " class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= '你好，'+@_[:name][0,20] %></a><br>
            <ul class="dropdown-menu">
              <li><a href="/personal"><%= '我的主页' %></a></li>
              <li><a href="/action.do?action=logout"><%= '退出' %></a></li>
              <li class="divider"></li>
              <li><a href="#"><%= '关于QNA' %></a></li>
            </ul>
          </li>
          <li class="pull-right">
            <form class="form-search" style="margin-bottom: 0px;">
              <input id="keyValue" class="search-query" id="search" type="text" size="50">
              <div class="btn-group">
                <button id="search_q_btn" type="button" class="btn"><%= '搜索问题' %></button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu" contenteditable="false">
                  <li><a id="search_u_btn"><%= '搜索用户' %></a></li>
                </ul>
              </div>
            </form>
          </li>



        </ul>
      </div>
    </div>
  </div>

      <!--personnal rows-->
      <div class="row">
        <div class="span2">
          <ul class="nav nav-list">
            <li class="active" id="question_li"><a id="question_" href="#">我的问题</a></li>
            <li id="answer_li"><a id="answer_" href="#">我的回答</a></li>
            <li id="point_li"><a id="point_" href="#">我的信息</a></li>
          </ul>
        </div>

        <div id="point_div" style="display:none">
          <div class="span10">
            <div  class="alert alert-info editor ">
              <span><h4>我的用户名:</h4><%=out @_[:name] %></span>
              <span><h4>我的邮箱:</h4><%=out @_[:mail] %></span>
              <span><h4>我的积分:</h4><%= @_[:point] %></span>
            </div>
          </div>
        </div>

        <div id="question_div" style="display:inline">
          <div class="span10">
            <% if @_[:questions].length == 0 %>
                <div  class="alert alert-info editor ">
                  您暂时还未提出任何问题
                </div>
            <% else %>
                <% for question in @_[:questions] %>
                    <div  class="alert alert-info editor ">
                      <h3><a href="detail_q?qid=<%= question.qid %>"><%=out question.title %></a></h3>
                      <p><%=out question.content %></p>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>

        <div id="answer_div" style="display: none">
          <div class="span10">
            <% if @_[:ans_list].length == 0 %>
                <div  class="alert alert-info editor ">
                  您暂时还未回答任何问题
                </div>
            <% else %>
                <% for ans in @_[:ans_list] %>
                    <div  class="alert alert-info editor ">
                      <span><%=out @_[:name] %></span>
                      <span>        对于问题:</span>
                      <a href="detail_q?qid=<%= ans[:answer].qid %>"><pre><%=out ans[:q_title] %></pre></a>
                      <span>        回答道:</span>
                      <p><pre><%=out ans[:answer].content %></pre></p>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
</body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/vendor/jquery.ui.widget.js"></script>
<script src="js/jquery.iframe-transport.js"></script>
<script src="js/jquery.fileupload.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://files.cnblogs.com/rubylouvre/bootstrap-transition.js"></script>
<script src="http://files.cnblogs.com/rubylouvre/bootstrap-dropdown.js"></script>
<script src="js/editor.js"></script>

<script>
    $(function(){
        $('.dropdown-toggle').dropdown()
    })

    window.onload = function(){
        init_switch_tab(['point_', 'question_','answer_']);
    };
</script>